/**********************************
GENERAL
**********************************/
body {
	font-family: serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.content {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -2em; /* the bottom margin is the negative value of the footer's height */ /* 4 em is height of footer */
}

.footer, .push {
	height: 2em; /* .push must be the same height as .footer */
}

/**********************************
HEADING
**********************************/
header {
	float: left;
	width: 100%;
}

h1 {
	float: none;
	font-family: 'Oswald', sans-serif;
	font-size: 2.8em;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 2px;
	text-align: center;
}

/**********************************
NAVAGATION
**********************************/
nav {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 10px 0px;
}

nav ul {
	list-style: none;
/*	margin: 0 10px;
	padding: 0;*/
}

nav li {
	display: inline-block;
	float: center;
}

nav a {
	font-weight: 300;
	font-size: 2em;
	padding: 10px 10px;
}


/**********************************
FOOTER
**********************************/
footer {
	float: left;
	clear: both;
	margin-left: 10px;

}

footer p {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

/**********************************
PAGE: PROTFOLIO
**********************************/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: center;
	width: 100%
}

#gallery li {
	float: left;
/*	width: 100%;
*/	margin: 2.5%;
/*	background-color: white;
*/	/*color: #bdc3c7;*/
}

#gallery li img {
	float: left;
	padding: 2.5%;
	height: auto;
	background-color: white;
/*	color: #bdc3c7;
*/}


/*#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}*/


/**********************************
PAGE: ABOUT
**********************************/

section {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	text-align: center;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.8em;
}

.outer {
    display: table;
    height: 100%;
    z-index: -10;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.innerBackground {
	margin-top: 80px; 
	margin-bottom: 80px; 
	margin-left: auto;
    margin-right: auto;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
}

.inner p {
	padding: 0px 20px;
}

/*.grow-up {
	display: block;
	max-width: 400px;
	margin: 0 auto 30px;
	border-radius: 10px;
}*/

.contact-info {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1em;
	list-style-type: none;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.mail {
	position:relative;
}
/*.mail::before {
	position:absolute;
	font-family: FontAwesome;
	top:0;
	left:0;
	content: "\f0e0";
	font-size: 100%;
	color: white;
}*/

div.hr {
	background: #fff  no-repeat scroll center;
	/*margin-left: 15em;
	margin-right: 15em;*/
	margin-left: auto;
    margin-right: auto; 
	width:10em;
	height:2px;
}


/**********************************
COLOR
**********************************/
footer {
	color: #fff;
}

/* Header */
header {
	color: #fff;
}

/* regular logo text */
h1 {
	color: #ccc;
}

a {
	color: #fff;
}

nav {
	background-color: #393535;
}

section {
	color: white;
}

h3 {
	color: #b78383;
}

.inner {
	background-color: black;
	background-color: rgba(0,0,0,0.8);
}

/* hover logo text */
h1 a:hover, .mail:hover {
	color: #848484;
}

/* regular nav link */
nav a, nav a:visited {
	color: #fff;
/*	text-shadow: 2px 2px #000;
*/
}

/* selected nav link */
nav a.selected, nav a:hover, nav a:focus, nav a:active {
	/*color: #fff;*/
	text-decoration: underline;
}
