/**********************************
Large Screens
**********************************/
@media screen and (min-width: 480px) {
	/**********************************
	TWO COLUMN LAYOUT
	**********************************/
	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}

	/**********************************
	PAGE: PORTFOLIO;
	**********************************/
	#gallery li {
		width: 28.3333333%;
	}

	#gallery li:nth-child(4n) {
		clear: left;
	}
}

/**********************************
VERY VERY Large Screens
**********************************/
@media screen and (min-width: 660px) {
	/**********************************
	HEADER
	**********************************/

	/*	margin-top = logo/2 - logo.margin-top - nav height / 2 = 45 + 30 - ?/2 */
	nav {
		float: right;
/*		font-size: 1.2em;
		margin-top: 55px;*/		
		margin-right: 1%;
		text-align: right;
/*		width: 45%;
*/		color: #000;
	background-color: transparent;
	}

	h1 {
		float: left;
		margin-left: 10px;
		margin-top: 2px;
	}

/*

	footer {
		float: left;
		margin: 0;
		margin-top: 0px;
		margin-left: 5%;
	}*/

/*  	h1 {
  		float: none;
	}*/

/*	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}*/

/*	header {
		border-bottom: 5px solid #343433;
		border-bottom: 5px solid #fff;
		margin-bottom: 65px;
	}*/

}